:root {
  --background-color: #181A1B;
  --primary-color: #F2EBC7;
  --secondary-color: #D964AF;
  --tertiary-color: #9D38BD;
  --accent-color: #B27217;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  /* text-align: center; */
}

h1 {
  color: var(--primary-color);
  font-size: 8vw;
}

h2 {
  padding: 2vw;
}

p {
  color: var(--primary-color);
  font-size: 2vh;
}

nav {
  justify-content: center;
  display: flex;
  top: 0;
  position: relative;
  margin: 0 0 0 40vw;
  transition: all 0.3s ease;
}

header a {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  /* cursor: default; */
  size: auto;
}

.btn {
  text-decoration: none;
  font-size: 2vw;
  background-color: var(--background-color);
  margin: 10px;
  padding: 1vh 2vw 0.4vh;
  /* border-radius: 10px; */
  color: var(--accent-color);
  /* border: solid 2px var(--accent-color); */
  transition: all ease-in-out 0.3s;
}

.btn:hover {
  /* background-color: var(--accent-color); */
  border-bottom: 1px solid var(--accent-color);
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

button.nav {
  cursor: pointer;
  font-size: 2vw;
  background-color: var(--background-color);
  margin: 10px;
  padding: 1vh 2vw 0.4vh;
  border-radius: 10px;
  color: var(--accent-color);
  border: solid 2px var(--accent-color);
  transition: hover ease-in-out 0.4s;
}

button.nav:hover {
  background-color: var(--accent-color);
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  animation-duration: 0.5s;

  /* from flex */
  position: fixed;
  border-bottom: 1px solid var(--accent-color);
  width: 100vw;
  /* border-radius: 20px; */
  background-color: var(--background-color);
  justify-content: space-between;
  flex-direction: row;
}

.navbar h1 {
  font-size: 3vw;
  padding: 2vh 0 0 20px;
  top: 0;
}
.navbar button {
  font-size: 1vw;
}

