@import 'default.css';
@import 'footer.css';

h1 {
  font-size: 5vw;
  padding: 11vh 0 0 2vw;
}

h2 {
  color: var(--primary-color);
  font-size: 3.5vw;
  text-decoration: underline;
}

h3 {
  font-size: 2vw;
  color: var(--primary-color);
}

.top {
  display: flex;
}

.why_events {
  padding: 2vw;
}

.why_events ul {
  color: var(--primary-color);
  font-size: 2vh;
  padding-left: 3vh;
}

.main_image {
  padding: 2vw;
}

.upcoming_events {
  display: flex;
  flex-direction: row;
  padding: 2vw;
}

.upcoming_events img{
  padding: 0 2vw 0 0;
}

.upcoming_events div{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.past_events {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 2vw;
}

.event {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
}
