/* Imported CSS for the footer section */
@import 'footer.css';


/* Assigning colors globally as to easily allow experimentation */
:root {
  --background-color: #0c1311;
  /* --background-color: #181A1B; */
  --primary-color: #b2bcb8;
  /* --primary-color: #F2EBC7; */
  --secondary-color: #D964AF;
  --tertiary-color: #9D38BD;
  --accent-color: #D69E5E;
  /* --accent-color: #B27217; */
}

/* resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  /* text-align: center; */
}

header {
	/* for the full screen effect */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	/* to make it a bit darker to increase contrast */
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../media/library-book-bookshelf-read.jpg') center center;
  background-attachment: fixed;
}

h1 {
  color: var(--primary-color);
  font-size: 8vw;
  padding: 2vh 0 0 20px;
  top: 0;
}

h2 {
  color: var(--primary-color);
  font-size: 3.5vw;
  text-decoration: underline;
}

p {
  color: var(--primary-color);
  font-size: 2vw;
}

.btn {
  text-decoration: none;
  font-size: 2vw;
  background-color: rgba(0,0,0,0.5);
  margin: 10px;
  padding: 1vh 2vw 0.4vh;
  border-radius: 10px;
  color: var(--accent-color);
  border: solid 2px var(--accent-color);
  transition: all ease-in-out 0.3s;
}

.btn:hover {
  /* font-size: 2.2vw; */
  background-color: var(--accent-color);
  color: #975A37;
}

nav {
  justify-content: center;
  display: flex;
  top: 0;
  position: relative;
  transition: all 0.3s ease;
}

nav a {
  text-decoration: none;
  display: flex;
  size: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

div.about_us {
  display: flex;
  /* margin-top: vh; */
  padding: 5vw;
}

div.about_us_text {
  padding: 0px 5vw 0px 5vw;
}

div.about_us_text p {
  font-size: 1vw;
}

img.about_us {
  width: 30vw;
  display: flex;
  padding: 0px 5vw 0px 0vw;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  animation-duration: 0.5s;
}

.navbar.sticky {
  position: fixed;
  border-bottom: 1px solid var(--accent-color);
  width: 100vw;
  /* border-radius: 20px; */
  background-color: var(--background-color);
  /* backdrop-filter: blur(5px); */
  justify-content: space-between;
  flex-direction: row;
  /* arrived at this number via trial and error */
  transform: translateY(-47vh);
}

.navbar.sticky h1 {
  font-size: 3vw;
}

.navbar.sticky .btn{
  font-size: 1vw;
  cursor: pointer;
}

.navbar.sticky nav {
  padding: 0 10px 0 0;
  margin: 0 0 0 50vw;
}
