:root {
  --background-color: #181A1B;
  --primary-color: #F2EBC7;
  --secondary-color: #D964AF;
  --tertiary-color: #9D38BD;
  --accent-color: #4C288B;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  /* text-align: center; */
}

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../media/books-assortment-with-dark-background.jpg') no-repeat center center;
}

h1 {
  color: var(--primary-color);
  font-size: 8vw;
}

nav {
  display: flex;
}

a {
  text-decoration: none;
  display: flex;
  cursor: default;
  size: auto;
}

ul {
  display: flex;
  list-style: none;
}

button.nav {
  cursor: pointer;
  font-size: 2vw;
  background-color: var(--background-color);
  margin: 10px;
  padding: 1vh 2vw 0.4vh;
  border-radius: 10px;
  color: var(--accent-color);
  border: solid 2px var(--accent-color);
  transition: hover ease-in-out 0.2s;
}

button.nav:hover {
  background-color: var(--accent-color);
  color: white;
}

/* ul { */
/*   padding: 1px; */
/*   display: flex; */
/*   margin-top: auto; */
/* } */
/**/
/* ul li:hover, li a:hover { */
/*   background-color: #CC000E; */
/*   rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
/* } */
/**/
/**/
/* li a { */
/*   color: #CC000E; */
/* } */
/**/
/* li a:hover { */
/*   color: white; */
/* } */
/* a { */
/*   color: var(--primary-color); */
/*   text-decoration: none; */
/* } */
